<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/end.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <h1 align="center">Поздравляю, {{ username }}</h1>
    <h1 align="center">Вы прошли квест за {{ timer }}</h1>
    <h1 align="center">Таблица Рекордов</h1>
    <table align="center" class="tbl">
        <tr>
            <th>Имя Игрока</th>
            <th>Время прохождения</th>
        </tr>
    {% for item in result%}
        <tr>
            <th>{{ item.name }}</th>
            <th>{{ item.timer }}</th>
        </tr>
    {% endfor %}
    </table>
</body>
</html>