<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <script src="{{ url_for('static', filename='script/username.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
    </head>
    <body style="body">
        <h1>Приветствую, игрок!</h1>
        <h2>Тебе предстоит пройти небольшой квест, созданный мной в качестве проекта для Яндекс Лицея</h2>
        <h2>Квест будет состоять из различных небольших загадок и головоломок</h2>
        <h2>После правильного ответа откроется кнопка перехода к следующему вопросу</h2>
        <h2>Сначала введите имя для записи в таблицу результатов. Для сохранения имени нажмите кнопку 'Подтвердить'</h2>
        <h2>Для старта квеста нажмите кнопку 'Начать'</h2>
        <form name="user" action="/" method="POST">
            <p>
                <label>Имя игрока</label>
                <input type='text' name="username" id="useranswer" placeholder='{{ username }}'>
                <input type="submit" value="Подтвердить" onclick="check();">
	        </p>
        </form>
        <div id="start" class='{{ hide }}'>
            <a href="/quest1" class='btn btn-primary'>Начать</a>
        </div>
    </body>
</html>