{% extends "quest.html" %}

{% block content %}
        <script src="{{ url_for('static', filename='script/quest.js') }}"></script>
        <h1>{{ riddle }}</h1>
        <h2>Ну чтож, а теперь решим довольно известный в интернете вопрос с треугольниками</h2>
        <h2>Вопрос до невозможности простой: сколько на этой картинке трекгольников</h2>
        <form name="user" action="/quest6" method="POST" class="{{ fm }}">
            <p>
                <input type='text' name="qst1" id="qst1" placeholder='Ответ'>
                <input type="submit" value="Подтвердить" onclick="check6();">
            </p>
        </form>
        <div id="q1" class="{{ hide }}">
            <a>Просто же, да?</a><br>
            <a href="/quest7" class='btn btn-primary'>Дальше</a>
        </div>
        <img class="center2" src="static/styles/background/triangle.png">
{% endblock %}