{% extends "quest.html" %}

{% block content %}
        <script src="{{ url_for('static', filename='script/quest.js') }}"></script>
        <h1>{{ riddle }}</h1>
        <h2>Общий стиль вопросов понятен? Отлично! Тогда следующий вопрос</h2>
        <h2>Человек в 8 часов вечера поставил механический будильник на 9 часов утра</h2>
        <h2>Вопрос: Сколько часов он проспит</h2>
        <form name="user" action="/quest2" method="POST" class="{{ fm }}">
            <p>
                <input type='text' name="qst1" id="qst1" placeholder='Ответ'>
                <input type="submit" value="Подтвердить" onclick="check2();">
            </p>
        </form>
        <div id="q1" class="{{ hide }}">
            <a>Верно, так как на механическом будильнике только 12 часов</a><br>
            <a href="/quest3" class='btn btn-primary'>Дальше</a>
        </div>
{% endblock %}